node_modules/
build/
lib/*/
!lib/goblin-builder
!lib/goblin-client
!lib/goblin-configurator
!lib/goblin-desktop
!lib/goblin-desktop-web
!lib/goblin-elasticsearch
!lib/goblin-gadgets
!lib/goblin-garona
!lib/goblin-laboratory
!lib/goblin-nabu
!lib/goblin-nabu-store
!lib/goblin-overwatch
!lib/goblin-rethink
!lib/goblin-shaman
!lib/goblin-theme
!lib/goblin-tradingpost
!lib/goblin-warehouse
!lib/goblin-webpack
!lib/goblin-wm
!lib/goblin-workshop
!lib/goblin-zeppelin
!lib/xcraft-core-converters
!lib/xcraft-core-goblin
!lib/xcraft-core-host
!lib/xcraft-core-utils
!lib/xcraft-dev-fontawesome
