[submodule "lib/goblin-nabu"]
	path = lib/goblin-nabu
	url = ../goblin-nabu
[submodule "lib/goblin-nabu-store"]
	path = lib/goblin-nabu-store
	url = ../goblin-nabu-store
[submodule "lib/goblin-client"]
	path = lib/goblin-client
	url = ../goblin-client
[submodule "lib/goblin-wm"]
	path = lib/goblin-wm
	url = ../goblin-wm
[submodule "lib/goblin-laboratory"]
	path = lib/goblin-laboratory
	url = ../goblin-laboratory
[submodule "lib/goblin-warehouse"]
	path = lib/goblin-warehouse
	url = ../goblin-warehouse
[submodule "lib/goblin-webpack"]
	path = lib/goblin-webpack
	url = ../goblin-webpack
[submodule "lib/goblin-workshop"]
	path = lib/goblin-workshop
	url = ../goblin-workshop
[submodule "lib/goblin-tradingpost"]
	path = lib/goblin-tradingpost
	url = ../goblin-tradingpost
[submodule "lib/goblin-theme"]
	path = lib/goblin-theme
	url = ../goblin-theme
